$result-height: 80px;

.movie-tile {
  min-height: 300px;
  border: 1px solid #eee;
  cursor: pointer;
  padding: 2px;
  &.new-movie-tile {
    text-align: center;
  }
}


ul.result-list {
  overflow: scroll;
  li.movie-result {
    list-style-type: none;
    border: 1px solid #eee;
    min-height: $result-height;
    display: block;
    cursor: pointer;
    &:hover {
      background: darken(#fff, 20);
    }
    .movie-thumb {
      height: $result-height;
      display: block;
      float: left;
    }
  }
}